.navigation {
  width: 100%;
  a, span {
    display: inline;
    font-size: 1.6rem;
    font-family: $heading-font-family;
    font-weight: 700;
    line-height: 6.0rem;
    color: $fg-color;
  }
  a {
    &:hover,
    &:focus {
      color: $link-color
    }
  }
  .navigation-title {
    letter-spacing: 0.1rem;
  }
}
.navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  .navigation-item {
    float: left;
    margin: 0;
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;

    @media only screen and (max-width : 446px) {
      a {
        line-height: 2em;
      } 
      
      span {
        line-height: 5.0rem;
      }
    }
    a, span, div {
      margin-left: 1.0rem;
      margin-right: 1.0rem;
    }
  }
}
