*:focus {
    outline-width: 0.5em;
    outline-color: $link-color;
}

#bestPictures {
    width: 100%;
    margin: 6rem 0;
    max-width:100vw;

    h2 {
        margin-bottom: 1rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.swiper-container {
    .swiper-wrapper {
        display: flex;
        align-items: center;
        min-height: 85vh;
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.fullscreen {
        width:100vw;
        position:absolute;
        left: 0;
    }
}

#allPictures {
    h2 {
        margin-bottom: 6rem;
    }
}
figure {
    transition: 1s;
    img {
        max-height: 100vh;
        cursor: pointer;
        transition: 1s;
        // max-width: 100rem;
        &.larrrge {
            max-width: 100vw;
        }
    }
    
    
}

footer {
    hr {
        margin: 3em 0 2em 0;
    }
}

.rainbow-section {
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 34%, #2BFF88 60%);
    margin: 0 0 4rem 0;
    padding: 0.3rem;
    border-radius: 1rem;
    max-width: 86rem;
    > div {
        background-color: #fafafa;
        padding: 1.25rem 2rem;
        border-radius: 1rem;
        p {
            text-align: left;
        }
        h6 {
            margin: 0;
        }
    }
}

// Theme toggle
#theme-toggle {
	position: relative;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    
    label {
        position: relative;
        display: block;
        width: 3.6em;
        height: 2em;
        border-radius: 1em;
        border: 1px solid;
        background-color: #000839;
        overflow: hidden;
        cursor: pointer;
        &:before,
        &:after {
            display: block;
            position: absolute;
            content: "";		
            width: 1.44em;
            height: 1.44em;
            border-radius: 50%;
            top: 50%;
            left: 0.3em;
            transform: translateY(-50%);
            transition: .9s ease;
        }
        &:before {
            background-color: #ffa41b;
    
        }
    
        &:after {
            background-color: #000839;
            left: -6em;
            transform: translateY(-50%) scale(0.00001);
        }
    }
    
    input[type="checkbox"] {
        // don't just display: none; for keyboard navigation
        position: absolute;
        width: 3.6em;
        height: 2em;
        border-radius: 1em;
        &:checked + label {
            &:before {
                background-color: #FFF;
                transform: translateY(-50%) translateX(1.4em);
            }
            
            &:after {
                transform: translateY(-50%) translateX(7.2em) scale(1);
                transform: translateY(-50%) translateX(8.4em) scale(1);
            }
        }
    }
}
