<nav class="navigation">
  <section class="container">
    A project by 
    <a class="navigation-title" href="https://www.felixparadis.com">
      Félix Paradis
    </a>
    <ul class="navigation-list">
      <li class="navigation-item"><a href="#Jour_100.webp">Day 100</a></li>
      <li class="navigation-item"><a href="#Jour_200.webp">Day 200</a></li>
      <li class="navigation-item"><a href="#Jour_299.webp">Day 299</a></li>

      <li class="navigation-item">
        <div id="theme-toggle">		
          <input type="checkbox" id="toggle" aria-label="Switch theme (dark or light)" checked/>
          <label for="toggle"></label>
        </div>
      </li>
    </ul>
  </section>
</nav>